
.errorContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* A muted grey color */
    color: #666;
    font-size: 14px;
    height: 100%;
}